@media (max-width: 1200px){
  .project-list{
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-wrapper{
    gap: clamp(40px, 10vw, 160px);
  }
}

/* <= 992px (tablets) */
@media (max-width: 992px){
  .home{
    align-items: flex-start;
  }

  .project-list {
    position: absolute;
    top: 25%;
    transform: translateY(-50%, -50%);
    width: 100vw;
    margin-top: auto;
    grid-template-columns: repeat(2, 1fr);
    height: min-content;
    overflow-x: scroll;
  }

  .project-container {
    min-width: 60vw;

  }

  .contact-wrapper{
    flex-direction: column;
  }

  .contact-form {
    width: calc(100% - clamp(20px, 5vw, 40px));
  }
  .contact-submit {
    width: calc(100% + 20px);
  }
}

/* <= 768px (large phones / small tablets) */
@media (max-width: 768px){
  .navbar, .contact-svg {
    display: none;
  }

  .mobile-menu-icon {
    width: 50px;
    height: 50px;
  }

  .theme-toggle {
    position: fixed;
    right: 20px;
  }

  .theme-toggle, .theme-toggle svg{
    width: 35px;
    height: 35px;
  }

  .home{
    padding-left: clamp(20px, 5vw, 40px);
    align-items: flex-start;
    background-image: var(--bg-image-mobile-url);
    background-color: #e8f1fe;
  }

  .contact-wrapper{
    padding: clamp(20px, 5vw, 40px);
  }

  .intro-buttons{
    flex-direction: column;
    width: calc(100% - clamp(20px, 5vw, 40px));
  }
  .intro-buttons button{
    width: 100%;
  }

  .about{
    padding-left: clamp(20px, 5vw, 40px);
  }

  .contact-header{
    padding-top: 80px;
  }
}

/* <= 576px (phones) */
@media (max-width: 576px){
  .topbar{
    font-size: clamp(0.95rem, 3.2vw, 1.1rem);
  }

  .home{
    background-position: center;
    background-size: cover;
  }
}

/* <= 400px (small phones) */
@media (max-width: 400px){
  .contact-header div{
    width: 100px;
  }
}